[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/cscope_macros"]
	path = bundle/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule "bundle/ctags_highlighting"]
	path = bundle/ctags_highlighting
	url = https://github.com/vim-scripts/CTAGS-Highlighting.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = https://github.com/vim-scripts/xptemplate.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = https://github.com/aniederl/haskellmode-vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/pandoc"]
	path = bundle/pandoc
	url = https://github.com/vim-scripts/pdc.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/securemodelines"]
	path = bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/smarttabs"]
	path = bundle/smarttabs
	url = https://github.com/vim-scripts/Smart-Tabs.git
[submodule "bundle/haskell-conceal"]
	path = bundle/haskell-conceal
	url = https://github.com/vim-scripts/Haskell-Conceal.git
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/vim-scripts/clang.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/perlomni"]
	path = bundle/perlomni
	url = https://github.com/c9s/perlomni.vim.git
[submodule "bundle/AnsiEsc"]
	path = bundle/AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/ikiwiki-syntax"]
	path = bundle/ikiwiki-syntax
	url = http://git.devnull.li/ikiwiki-syntax.git
[submodule "bundle/gitolite"]
	path = bundle/gitolite
	url = https://github.com/tmatilai/gitolite.vim.git
[submodule "bundle/syntaxudev"]
	path = bundle/syntaxudev
	url = https://github.com/vim-scripts/syntaxudev.vim.git
[submodule "bundle/xslt-syntax"]
	path = bundle/xslt-syntax
	url = https://github.com/vim-scripts/XSLT-syntax.git
[submodule "bundle/udev-syntax"]
	path = bundle/udev-syntax
	url = https://github.com/vim-scripts/syntaxudev.vim.git
[submodule "bundle/xquery-syntax"]
	path = bundle/xquery-syntax
	url = https://github.com/vim-scripts/XQuery-syntax.git
[submodule "bundle/nagios-syntax"]
	path = bundle/nagios-syntax
	url = https://github.com/vim-scripts/nagios-syntax.git
[submodule "bundle/lighttpd-syntax"]
	path = bundle/lighttpd-syntax
	url = https://github.com/vim-scripts/lighttpd-syntax.git
[submodule "bundle/nmap-syntax"]
	path = bundle/nmap-syntax
	url = https://github.com/vim-scripts/Nmap-syntax-highlight.git
[submodule "bundle/qmake-syntax"]
	path = bundle/qmake-syntax
	url = https://github.com/vim-scripts/qmake--syntax.vim.git
[submodule "bundle/gtk-syntax"]
	path = bundle/gtk-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax.git
[submodule "bundle/pam-syntax"]
	path = bundle/pam-syntax
	url = https://github.com/vim-scripts/pam.vim.git
[submodule "ntp.vim"]
	path = ntp.vim
	url = https://github.com/vim-scripts/ntp.vim.git
[submodule "bundle/ntp-syntax"]
	path = bundle/ntp-syntax
	url = https://github.com/vim-scripts/ntp.vim.git
[submodule "bundle/eruby-syntax"]
	path = bundle/eruby-syntax
	url = https://github.com/vim-scripts/eruby.vim.git
[submodule "bundle/ikiwiki-nav"]
	path = bundle/ikiwiki-nav
	url = https://github.com/vim-scripts/ikiwiki-nav.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/gitolite-syntax"]
	path = bundle/gitolite-syntax
	url = https://github.com/tmatilai/gitolite.vim.git
[submodule "bundle/octave"]
	path = bundle/octave
	url = https://github.com/vim-scripts/octave.vim--.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/python-matchit"]
	path = bundle/python-matchit
	url = https://github.com/vim-scripts/python_match.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/nrrwrgn"]
	path = bundle/nrrwrgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/nose"]
	path = bundle/nose
	url = https://github.com/lambdalisue/nose.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
